@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/UkArial1Normal.woff2') format('woff2'),
        url('../../assets/fonts/UkArial1Normal.woff') format('woff'),
        url('../../assets/fonts/ofont.ru_Uk_Arial1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
        url('../../assets/fonts/Arial-ItalicMT.woff') format('woff'),
        url('../../assets/fonts/Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia.woff2') format('woff2'),
        url('../../assets/fonts/Georgia.woff') format('woff'),
        url('../../assets/fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
:root{
   scroll-behavior: smooth;
}

.container{    
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 5;
}
.logo1{    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.logo2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
    left: 4px;
}

/* бургер */

.header{
   position: relative;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header:before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   /* поменять цвет фона на нужный */
   background-color: #fff;
   z-index: 2;
}

.header__body{
   position: relative;
   display: flex;
   justify-content: space-between;

   /* задать нужную высоту меню */
   height: 120px;
   align-items: center;
}

.header__burger{
   display: none;
}

.header__list{
   display: flex;
   position: relative;
   z-index: 2;
}

.header__list li{
   list-style: none;
   margin: 0 0 0 35px;
}
.header__link{
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 160%;
   color: #545454;
   text-decoration: none;
}
.link__pets{   
   color: #292929;
   border-bottom: 2px solid #F1CDB3;
}

/* burger finish */



.block-7{
    display: inline-block;
    background: #F6F6F6;
    width: 100%;
    padding: 80px 0 100px 0;
}

.block7-txt{
    max-width: 400px;
    height: 90px;
    left: calc(50% - 400px/2);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-left: auto;
    margin-right: auto;
}
.slider{
   position: relative;
   /* padding: 0 52px; */
 }
.slick-track{
   display: flex;
}
 
 .slick-list{
   overflow: hidden;
 }
 .slider-item{
   padding: 15px 0;
   text-align: center;
 }
 .slick-slide { 
   width: 270px;
 }
.block7-frends1{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px 20px;
    
    min-width: 0; */
    margin-top: 45px;
}
.animal{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
}
.animal p{
    margin-bottom: 30px;
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.animal button{
    width: 187px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    padding: 15px 0;
    background: #FAFAFA;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.animal button:hover{
    background-color :  #F1CDB3;
}
.card-pet{
    width: 270px;
    height: 435px; 
    background: #FAFAFA;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
}

.fre-boot{
    margin-top: 353px;
    margin-left: 41.5px;
}
.block7-buton{
    display: flex;
    width: 340px;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}
.button-smoll{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background: #F6F6F6;
    border: 2px solid #F1CDB3;
    padding-top: 4px;
}
.button-smoll img{
   transform: rotate(180deg);
}
.button-smoll-activ{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background: #F6F6F6;
    border: 2px solid #F1CDB3;
    padding-top: 4px;
}
.button-smoll-number{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    font-family: 'Georgia';
    font-size: 20px;
    color: #292929;
}
.block7-buton :hover{
   background-color :  #F1CDB3;
}


.block-6{
    background: url('../../assets/images/footer-background.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
    background-image: url('../../assets/images/footer-background.png'), radial-gradient(100% 215.42% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
    background-size: cover;
}

.block6-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 0;
}
.block6-content1{
    flex-direction: column;   
    margin-top: 56px;  
}
.block6-content2{
    flex-direction: column;
    margin-top: 56px; 
}
.block6-content3{
    flex-direction: column;
    margin-top: 40px;
    padding-left: 38px;
}
.bl6-text-big{
    width: 280px;
    height: 90px;
    left: calc(50% - 278px/2 - 0px);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.bl6-text-smoll{
    width: 265px;
    height: 23px;
    left: calc(50% - 191px/2 + 16.5px);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 20px;
}
.bl6-icon{
    display: flex;
    margin-top: 40px;
}

@media (max-width: 1245px){
   .container{
      padding: 0 30px;
   }
   .block7-frends1{
      margin-top: 15px;
   }
   .block7-buton{
      margin-top: 25px;
   }
   .block-7{
      padding: 80px 0 75px 0;
   }
   .block6-content{
      justify-content: center;
   }
   .block6-content1, .block6-content2{
      margin-top: 32px;
   }
   .block6-content3 {
      margin-top: 65px;
      padding-left: 0;
  }
}

@media (max-width: 760px){
   body.lock{
      overflow: hidden;
   }
   .header__body{
      height: 120px;  /* высота меню  */
   }
   
   .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
   }
   .header__burger span{
      position: absolute;
      background-color: #545454;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }
   .header__burger:before,
   .header__burger:after{
      content: "";
      background-color: #545454;  
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }
   .header__burger:before{
      top: 0;
   }
   .header__burger:after{
      bottom: 0;
   }
   .header__burger.active:before{
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active:after{
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .header__burger.active span{
      transform: scale(0);
   }
   .header__menu{
      position: fixed;
      top: 0; 
      right: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #fff; 
      padding: 30px 10px 20px 10px;
      transition: all 0.3s ease 0s;
   }
   .header__menu.active{
      right: 0;
   }
   .header__list{
      padding: 220px 10px 0 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
   }
   .header__link{
      font-size: 32px;
   }
   .header__list li{
      margin: 0 0 40px 0;
   }
}

@media (max-width: 530px){
   .container{
      max-width: 300px;
      padding: 0 10px;
   }
   .block-7{
      padding: 42px 0 40px 0;
   }
   .block7-txt{
      font-size: 25px;
      letter-spacing: 0;
   }
   .block7-buton{
      width: 300px;
   }
   .bl6-text-big{
      max-width: 280px;
      font-size: 25px;
      margin: 30px auto 0px auto;
      text-align: center;
   }
   .bl6-icon{
      margin-top: 15px;
      align-items: center;
   }
   .bl6-icon{
      display: block;
   }
   .block6-content1{
      margin-top: 0;
   }
   .block6-content3 {
      margin-top: 0px;
      display: flex;
      justify-content: end;
  }
  .block6-content3 img{
     height: 87%;
     width: auto;
  };
}

@media (max-width: 330px){
   .header__body{
      max-width: 247px;
   }
}

